@font-face {
	font-family: 'DOS';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Fixedsys500c.eot');
	src: url('fonts/Fixedsys500c.woff') format('woff'),url('fonts/Fixedsys500c.ttf') format('truetype'),url('fonts/Fixedsys500c.svg') format('svg')
}

html, body {
	margin: 0;
	padding: 0;
	background: #000084;
	font-size: 18pt;
}

h1, p, li {
	font-family: DOS, monospace;
	font-size: 1rem;
	color: #bbb;
	line-height: 1.1rem;
	margin: 0;
}

p {
	margin-bottom: 20px;
}

h1 {
	color: #fff;
}

a {
	color: #fefe54;
	text-decoration: none;
	outline: none;
}

a:hover {
	background: #a50;
}

ul {
	margin: 0 0 1rem 1rem;
	padding: 0;
}

li {
	list-style: none;
	margin: 0;
}

li:before {
	content: '\b7\a0';
}

.portrait {
	margin-top: 40px;
	background-image: url('../img/me_2021.jpg');
	width: 300px;
	height: 300px;
}

.content {
	padding: 40px 20px 0 20px;
}

#navi {
	display: none;
	background: #bbb;
	padding-left: 10px;
	margin: 0;
	font-size: 0;
	list-style-type: none;
}

#navi > li, #navi > li.special {
	font-size: 1rem;
	display: inline-block;
}

#navi > li:before {
	content: '';
}

#navi > li.special {
	padding :0 10px;
	color: #000084;
}

#navi > li > a {
	padding: 0 10px;
	color: #000;

}

#navi > li:hover > a, #navi > li > a.active {
	color: #bbb;
	background: #000;
}

#navi.big > li.special {
	width: 100%;
}

#cursor_overlay, #cursor {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

#cursor_overlay {
	width: 100%;
	background: #000084;
}

#cursor {
	width: 8px;
	height: 20px;
	background: linear-gradient(to right, #bbb 0%,#bbb 8px,#bbb 8px,#000084 8px,#000084 100%);
}


